    @page {
        margin: 150px 60px;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 0.85rem;
        background-color: #000;
    }
    
    #header {
        position: fixed;
        left: 0px;
        top: -110px;
        right: 0px;
        height: 100px;
        background-color: white;
        text-align: center;
    }
    
    #footer {
        position: fixed;
        left: 0px;
        bottom: -180px;
        right: 0px;
        height: 100px;
        background-color: white;
        text-align: center;
    }
    
    #footer .page:after {
        content: counter(page);
    }
    
    .pageNumber:after {
        content: counter(page);
    }
    
    .logo {
        max-height: 6.5rem;
        max-width: 6.5rem;
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-left {
        text-align: left;
    }
    
    .text-justify {
        text-align: justify;
    }
    
    .text-xs {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    
    .text-sm {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    
    .text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .text-lg {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    
    .consecutivo {
        border: 1px solid #000;
        border-radius: 0.3rem;
        padding: 0.5rem;
    }
    
    .bold {
        font-weight: bold
    }
    
    .pageNumber {
        font-size: 0.85rem;
        padding-top: 1rem
    }
    
    .linea {
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        height: 2px;
        max-width: 100%;
        padding: 0;
        margin: 1px auto 0 auto;
    }
    
    p {
        padding: 0px;
        letter-spacing: 0em;
        line-height: .2rem;
    }
    
    th {
        text-align: left
    }
    
    .pb-1 {
        margin-bottom: 4rem
    }
    
    .th {
        background-color: #EEE;
        font-weight: bold;
    }
    
    .text-derecha {
        text-align: right;
    }
    
    .text-izquierda {
        text-align: left;
    }
    
    .text-centro {
        text-align: center;
    }
    
    .w-4 {
        width: 4%;
    }
    
    .w-7 {
        width: 7%;
    }
    
    .w-10 {
        width: 10%;
    }
    
    .w-12 {
        width: 12%;
    }
    
    .w-40 {
        width: 40%;
    }
    
    .w-45 {
        width: 45%;
    }
    
    .w-72 {
        width: 72%;
    }
    
    .w-14 {
        width: 14%;
    }
    
    .border {
        border: 1px solid #CCC;
    }