.select-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select-flecha {
    height: 26px;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select-flecha b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    height: 0;
    left: 50%;
    margin-left: -8px;
    margin-top: 4px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select-flecha-expande b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 6px 8px 6px;
    border-style: solid;
    height: 0;
    left: 50%;
    margin-left: -18px;
    margin-top: 14px;
    position: absolute;
    width: 0;
}

.text-left {
    text-align: left;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.text-bold {
    font-weight: 700!important;
}

.text-success {
    color: #155724;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ccc;
}

.bg-teal-50 {
    --bg-opacity: 1;
    background-color: #edfafa;
    background-color: rgba(237, 250, 250, var(--bg-opacity));
}

.bg-teal-100 {
    --bg-opacity: 1;
    background-color: #d5f5f6;
    background-color: rgba(213, 245, 246, var(--bg-opacity));
}

.bg-teal-200 {
    --bg-opacity: 1;
    background-color: #afecef;
    background-color: rgba(175, 236, 239, var(--bg-opacity));
}

.bg-teal-300 {
    --bg-opacity: 1;
    background-color: #7edce2;
    background-color: rgba(126, 220, 226, var(--bg-opacity));
}

.bg-teal-400 {
    --bg-opacity: 1;
    background-color: #16bdca;
    background-color: rgba(22, 189, 202, var(--bg-opacity));
}

.bg-teal-500 {
    --bg-opacity: 1;
    background-color: #0694a2;
    background-color: rgba(6, 148, 162, var(--bg-opacity));
}

.bg-teal-600 {
    --bg-opacity: 1;
    background-color: #047481;
    background-color: rgba(4, 116, 129, var(--bg-opacity));
}

.bg-teal-700 {
    --bg-opacity: 1;
    background-color: #036672;
    background-color: rgba(3, 102, 114, var(--bg-opacity));
}

.bg-teal-800 {
    --bg-opacity: 1;
    background-color: #05505c;
    background-color: rgba(5, 80, 92, var(--bg-opacity));
}

.bg-teal-900 {
    --bg-opacity: 1;
    background-color: #014451;
    background-color: rgba(1, 68, 81, var(--bg-opacity));
}